/*Default mobile style*/
body > header {
    grid-area: header;
}

main {
    grid-area: content;
}

body > aside {
    grid-area: sidebar;
    content-visibility: hidden;
}

body > footer {
    grid-area: footer;
}

.grid-wrapper {
    display: grid;
    grid-gap: 1em;
    padding: 10px;
    grid-template-areas:
     "header"
     "content"
     "footer"
}

/*Tablet media query*/
/*@media only screen and (min-width: 768px) {*/
/*    !*.flex-container {*!*/
/*    !*    font-size: 1.3rem;*!*/
/*    !*}*!*/

/*    aside {*/
/*        content-visibility: visible;*/
/*    }*/

/*    .grid-wrapper {*/
/*        grid-template-columns: 20% auto;*/
/*        grid-template-areas:*/
/*        "header   header"*/
/*        "content  sidebar"*/
/*        "footer   footer";*/
/*    }*/
/*}*/

/*Desktop media query*/
@media only screen and (min-width: 1024px) {
    body > aside {
        content-visibility: visible;
    }

    .grid-wrapper {
        grid-template-columns: 50px auto 30% 50px;
        grid-template-areas:
        "header header header header"
        ". content sidebar ."
        "footer footer footer footer";
    }
}

article, aside {
    background-color: #444444;
    color: #ffffff;
    border-radius: 10px;
    padding: 10px;
}

body > header,
body > footer {
    background-color: #777777;
    color: #ffffff;
    padding: 10px 0 10px 0;
}
