/*Default mobile style*/
.flex-container {
    display: flex;
    flex-direction: column;
    background-color: grey;
    font-size: 1.5rem;
    color: #dddddd;
}

.grid-container {
    display: grid;
    grid-template-columns: 20em;
    height: 8em;
    font-size: 1.5rem;
    background-color: #222222;
    color: #dddddd;
}

/*Tablet media query*/
@media (min-width: 768px) {
    .flex-container {
        font-size: 1.3rem;
    }

    .grid-container {
        grid-template-columns: none;
        height: 10rem;
    }
}

/*Desktop media query*/
@media (min-width: 1024px) {
    .flex-container {
        font-size: 2rem;
    }

    .grid-container {
        grid-template-columns: none;
        height: 12rem;
    }
}